@media (max-width:768px){

.nav-links{
list-style:none;
display:flex;
gap:20px;
margin:0;
padding:0;
border:2px solid red;
}


.nav-links li{
    /* text-align:center; */
    margin:15px 0;
}

.hamburger{
    display:block;
}

.nav-links.active{
    display:block;
}

}