body{
font-family:Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:25px;
border-radius:8px;
width:320px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
padding:8px;
width:70%;
}

button{
padding:8px;
cursor:pointer;
}

ul{
list-style:none;
padding:0;
}

li{
display:flex;
justify-content:space-between;
background:#eee;
margin-top:10px;
padding:10px;
cursor:pointer;
}

.completed{
text-decoration:line-through;
color:gray;
}